@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply border border-black rounded-xl px-5 py-1
  }

  /* Add these styles to your CSS file */
.bg-redditDark {
  background-color: #1A1A1B;
}

.text-light {
  color: #D7DADC;
}

.input-dark {
  background-color: #2D2D2D;
  color: #D7DADC;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.button-dark {
  background-color: #0079D3;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-dark:hover {
  background-color: #005A8D;
}

.card-dark {
  background-color: #2D2D2D;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}


.sentiment-card {
  min-width: 300px;
  min-height: 250px;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
  margin: 10px;
  padding: 20px;
  color: #FFFFFF;
  text-align:center;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.red-card {
  background-color: #d12331;
}

.gray-card {
  background-color: #79808a;
}

.green-card {
  background-color: #24af5e;
}


}
